header {
    background-image: url(./images/space-background.jpg);
    color: white;
    text-align: center;
}

main h2 {
    color: #2A167A;
    text-align: center;
}

#navbar {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid black;
    background-color: white;
}
