* {
    font-family: 'Goudy Bookletter 1911', serif;
}

html {
scroll-behavior: smooth;
}

#banner {
    height: 100vh;
    background-image: url(./images/space-background.jpg);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin: 0px; */
    /* border: 1px solid white; */
    /* padding: 100px 0px 50px 0px; */
}

#arrow {
    font-size: 48px;
}

h1 {
    font-size: 96px;
    margin-bottom: 0px;
}
header h2 {
    font-size: 48px;
}

main h2 {
    color: #2A167A;
    text-align: center;
    font-size: 24px;
}

#navbar {
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 10px;
    background-color: #2A167A;
        /* border: 2px solid black; */
    /* background-color: white; */
}

#navbar a, header a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

#intro div {
    display: flex;
}

p, li {
    font-size: 12px;
    margin: 0px 20px;
}

#profile-pic {
    height: 200px;
    width: 200px;
}

#course div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#course div button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    /* font-size: 12px; */
}

.hide {
    display: none;
}

button:hover h2 {
    display: none;
}

button:hover .hide {
    display: block;
    color: #2A167A;
}

#contact-images div {
    height: 50px;
    width: 50px;
    margin: 10px 20px;
}

#contact-images img {
    width: 100%;
    height: 100%;
}

#contact-images {
    display: flex;
    justify-content: center;
}

